spring.application.name=ayanami

spring.datasource.url=jdbc:postgresql://localhost:5432/petra
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.security.acl.enabled=true


jwt.secret=
jwt.expiration=3600


resend.api.key=
resend.sender.email=
